<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>318827CE-7E70-4226-A34A-7849B84B7390</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AEA3A91E-8B3C-472F-8FBB-82D03F2695C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Steven Leung</string>
	<key>description</key>
	<string>Run date command and print output</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Date</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>AEA3A91E-8B3C-472F-8FBB-82D03F2695C6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>date</string>
				<key>runningsubtext</key>
				<string>Please enter an optional argument...</string>
				<key>script</key>
				<string>@formats = (
    'yyyyMMdd',
    'EEE MMM dd HH:mm:ss zzz yyyy',
    'MM/dd/yyyy',
    'yyyy-MM-dd',
);

$query = '{query}';

use XML::LibXML;
use DateTime;
use DateTime::Format::CLDR;
use DateTime::TimeZone;

$dom = XML::LibXML::Document-&gt;new( '1.0', 'UTF-8' );
$items = $dom-&gt;createElement( 'items' );

if ( $query =~ m/\S+/ ) {
    $output = `date -j $query`;
    chomp $output;

    $item = $dom-&gt;createElement( 'item' );

    $item-&gt;setAttribute( valid =&gt; 'yes' );
    $item-&gt;setAttribute( arg   =&gt; $output );

    $item-&gt;appendTextChild( 'title',    $output );
    $item-&gt;appendTextChild( 'subtitle', "date -j $query" );
    $item-&gt;appendTextChild( 'icon',     'icon.png' );

    $items-&gt;addChild( $item );
}

else {
    $tz = DateTime::TimeZone-&gt;new( name =&gt; 'local' );
    $dt = DateTime-&gt;now( time_zone =&gt; $tz );
    %outputs = map {
        $_ =&gt; DateTime::Format::CLDR-&gt;new( pattern =&gt; $_ )-&gt;format_datetime( $dt )
    } @formats;

    for ( @formats ) {
        $output = $outputs{$_};

        $item = $dom-&gt;createElement( 'item' );

        $item-&gt;setAttribute( valid =&gt; 'yes' );
        $item-&gt;setAttribute( arg   =&gt; $output );

        $item-&gt;appendTextChild( 'title',    $output );
        $item-&gt;appendTextChild( 'subtitle', $_ );
        $item-&gt;appendTextChild( 'icon',     'icon.png' );

        $items-&gt;addChild( $item );
    }
}

$dom-&gt;setDocumentElement( $items );

print $dom-&gt;toString;
</string>
				<key>subtext</key>
				<string>Run the date command and print output</string>
				<key>title</key>
				<string>Date</string>
				<key>type</key>
				<integer>4</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>318827CE-7E70-4226-A34A-7849B84B7390</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Just type date and get a list of dates in various formats.  If you pass in arguments, they'll be passed into date -j.  Enjoy!</string>
	<key>uidata</key>
	<dict>
		<key>318827CE-7E70-4226-A34A-7849B84B7390</key>
		<dict>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>AEA3A91E-8B3C-472F-8FBB-82D03F2695C6</key>
		<dict>
			<key>ypos</key>
			<real>220</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
